/* ===== HEADER ===== */
.header {
  display: flex;
  justify-content: flex-start; /* começa pelo hambúrguer */
  align-items: center;
  padding: 10px 20px;
  background: #0eb7d4;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  height: 50px;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15px; /* distância do menu */
}

/* ===== BOTÃO HAMBURGUER ===== */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  z-index: 1001;
}

.menu-toggle span {
  display: block;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* ===== MENU ===== */
.nav {
  position: fixed;
  top: 50px;
  left: -220px; /* escondido inicialmente fora da tela */
  width: 200px;
  height: calc(100vh - 50px);
  background: #0eb7d4;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.747);
  z-index: 1000;
  transition: left 0.3s ease;
}

.nav.open {
  left: 0; /* desliza para dentro */
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border-bottom: 1px solid #0eb7d4;
  font-size: 1rem;
  transition: background 0.2s;
}

.nav a:hover {
  background: #ca9d9d;
}
